{% extends "base.html" %}
{% block body %}

    <!-- <form style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);" >

        <div class="mb-3"  >
          <label for="exampleInputEmail1" class="form-label" class="color:white;">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">

        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label ;color:white;">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>

       <div style="text-align:center;"><button type="submit" class="btn btn-primary">Login</button></div>



      </form> -->
      <div class="login-container flex justify-center items-center bg-slate-100">
        <h1 class="text-5xl">Login</h1>
      </div>
      
      <div class="w-full w-screen flex justify-center items-center h-screen bg-slate-100">
        <form action="/login" method='POST' class="bg-slate-200 shadow-xl p-40 rounded-lg mb-4">
          <div class="mb-4">

            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Username
            </label>
            <input class="shadow appearance-none border rounded-lg bg-slate-100 rounded w-full py-2 px-16 text-gray-700 leading-tight w-full focus:outline-none focus:shadow-outline " name="email" type="email" placeholder="Enter your email">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700  text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input class="shadow appearance-none border bg-slate-100 border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="password" type="password" placeholder="******************">
            <p class="text-red-500 text-xs italic">Please choose a password.</p>
          </div>
          <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
              Sign In
            </button>
          </div>
        </form>
      </div>

{% endblock %}