{%extends "base.html"%}

{%block body%}
    <h1 style="text-align: center; margin-top: 4%;">Register</h1>

<form method="post" action="/register"  style="margin-top: 5%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-49%, -49%);" >
    
    
    <div class="mb-3"  >
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3"  >
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
      <div id="emailHelp" class="form-text">Your password should have a minimum of 4 characters.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" name="confirm">
      </div>
   
      <div style="text-align:center"><button type="submit" class="btn btn-primary">Register</button></div>
      
  </form>
  
{%endblock%}